* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #DAE7DD;
    width: 100%;
}

.header-logo {
    width: 60vw;
}

nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

li {
    list-style: none;
}

.header-logo img{
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
}

#landing-intro {
    margin-top: 90px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #DAE7DD;
    padding: 25px 0;
    flex-wrap: wrap;
}

h1 {
    font-size: 30px;
}

#img-container img {
    border-radius: 15px;
}

#features {
    display: flex;
    flex-direction: column;
    padding: 50px 0;
}

.features-container {
    display: flex;
    align-content: center;
}

#features .icon {
    height: 125px;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #DBC39A;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

#how-it-works {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75px 0;
    background-color: #DACAC4;
}

#how-it-works #video {
    max-width: 560px;
    height: 315px;
    width: 100%;
}

#pricing {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid rgb(179, 179, 179);
    max-width: 300px;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
}

.product:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #DBC39A;
    max-width: 300px;
    width: 100%;
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
}

.product #price {
    margin: 10px;
}

.product li {
    margin: 10px;
}

.product .select-trombone {
    margin: 10px;
    border: none;
    cursor: pointer;
    height: 55px;
    padding: 0 35px;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 1em;
    letter-spacing: 1px;
}

#contact {
    display: flex;
    align-items: center;
    vertical-align: center;
    background-color: #DAE7DD;
    justify-content: space-around;
    padding: 75px;
}

#contact .comments {
    margin: 10px 0
}

#form {
    display: flex;
    align-content: center;
    width: 500px;
}

#form #email {
    border: none;
    width: 100%;
    height: 35px;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 0 10px;
    max-width: 400px;
}

#form #submit {
    border: none;
    cursor: pointer;
    height: 35px;
    padding: 0 15px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 1em;
    letter-spacing: 1px;
    max-width: 180px;
}

@media (max-width: 650px) {
    header {
        position: fixed;
        top: 0;
        min-height: 75px;
        padding: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #DAE7DD;
        flex-direction: column;
        width: 100%;
    }

    nav > ul {
        width: 35vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 15px;
    }

    #pricing {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 50px 0;
    }
}